*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.about h2 {
    background-color: blue;
    font-weight: 600;
}

.about2 h2 {
    background-color: rgb(92, 2, 92);
    color: azure;
    height: 3rem;
    padding-top: 0.5rem;
}

.about3 h2 {
    background-color: rgb(105, 204, 92);
    color: blue;
    height: 2.5rem;
    padding-top: 1.5rem;
}